@charset 'utf-8';
/*头部css开始*/
	/*头部top开始*/
	/*公共样式开始*/
.padding-X10{padding:0px 10px;}
.padding-X1020{padding:0px 10px 0px 20px;}

	/*公共样式结束*/
#h-top{
	min-width:990px;
	background:#f2f2f2;
	height:32px;
	border-bottom:1px solid #ddd;
	color:#999;
}
#h-top .top-container{
	width:1230px;
	line-height:32px;
}

#h-top .top-container a{
	color:#999;
}
#h-top .top-container a:hover{
	color:#c40000;

}
	/*头部top 左侧开始——*/
#h-top .top-container em{
	font-style:normal;
}

	/*头部top 左侧结束——*/

	/*头部top 右侧开始——*/
	/*公共样式开始*/
.BC-W{
	
	border:1px solid transparent;
	border-top:none;
	border-bottom:1px solid transparent;
}
.h-BC-W:hover{
	background:white;
	border:1px solid #ddd;
	border-top:none;
	border-bottom:1px solid white;
}
.padding-X1410{padding:0px 14px 0px 10px;}
.padding-X1010{padding:0px 10px;}
.b-RBL{padding:8px 10px;border:1px solid #ddd;border-top:none;}
	/*绘制三角形*/
.triangle{
	display:inline-block;
	line-height:0px;
	vertical-align:middle;
	font-size:0px;
	border:3px solid #999;
	border-right:3px solid transparent;
	border-left:3px solid transparent;
	border-bottom:none;
	transform:rotate(0deg);
	transition:0.5s;/*过渡:0.5秒完成*/

}
	


#h-top .nav-list:hover b{
	transform:rotate(180deg);/*变换:旋转（180度）*/
}
	/*公共样式结束*/
#h-top .nav-list:hover .nav-list-two{
	display:block;}	
	/*二级导航*/
#h-top .nav-list-two{
	top:32px;
	width:100%;
	display:none;
	line-height:1.5;
	background:#fff;
	z-index:100;
}
#h-top .left-1{

	left:-1px;

}	

	/*购物车*/
#h-top .ShopCar span{
	color:#666;
}
	/*|*/
#h-top .null{
	margin:0px 2px 0px 5px;}
#h-top .null span{
	border-left:1px solid #999;	
}
	/*手机版*/
#h-top .qrcode{
	width:175px;
	height:227px;
	border-top:1px solid #ddd;
	top:25px;
	left:-70px;
	background:white;
	text-align:center;
	
}	
	/*二维码*/
#h-top .qrcode-con{
	width:175px;
	height:175px;
	background:url('../images/header/qrCode.png');
	
}
#h-top .qrcode b{
	display:inline-block;
	line-height:0px;
	vertical-align:middle;
	font-size:0px;
	border:5px solid white;
	border-right:5px solid transparent;
	border-left:5px solid transparent;
	border-bottom:none;
	transform:rotate(180deg);
	left:90px;
	top:-5px;
}
	/*商家*/
#h-top .business{
	width:122px;
	right:-1px;

}
#h-top .business li{
	margin-right:-20px;

}
#h-top .business h3{
	color:#666;

}
#h-top .business a{
	margin-right:20px;
	width:48px;
}
#h-top .business p{
	width:83%;
	border-bottom:1px dotted #999;
	margin:8px 0;

}
	/*商家 二级导航*/
.SuperscriptN{background:url('../images/header/Superscript.png') no-repeat -37px -11px;}
.SuperscriptH{background:url('../images/header/Superscript.png') no-repeat -37px 0;}
#h-top .web-nav-con{
	width:1198px;
	padding:25px 0px;
	right:-1px;
	
	
}
#h-top .web-nav-con a{
	color:#666;
}

#h-top .web-nav-con div{
	
	padding-left:30px;
	height:200px;
	border-right:1px solid #ddd;
}
#h-top .web-nav-con h2{
	font-size:16px;
	padding-bottom:8px;
	font-family:'\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
	font-weight: 100;

}
#h-top .web-nav-con ul{
	margin-right:-20px;

}
#h-top .web-nav-con li{
	float:left;
	width:95px;
	padding:6px 0;
	

}
/*--热点推荐Hot*/
#h-top .menu-Hot{
	width:275px;
}
#h-top .menu-Hot h2{
	color:#f56a00;
}
#h-top .menu-Hot a:hover{
	color:#f56a00;

}


/*--行业市场Market*/
#h-top .menu-Market{
	width:375px;
}
#h-top .menu-Market h2{
	color:#2263d4;

}
#h-top .menu-Market a:hover{
	color:#2263d4;
}
/*--品牌风尚Bran*/
#h-top .menu-Brand{
	width:270px;
}
/*--服务指南Help*/
#h-top .web-nav-con .menu-Help{
	width:130px;
	border:none;
}
#h-top .web-nav-con a{
	position:relative;
}
#h-top .web-nav-con i{
	width:9px;
	height:11px;
	position:absolute;
	right:-9px;
	top:-7px;

}
	/*头部top 右侧结束——*/
	/*头部search 开始*/
#h-search{
	height:130px;
	min-width:1230px;

}
#search-container{
	height:130px;
	width:1230px;
}
#h-search .tmall-logo{
	width:290px;
	height:130px;
	

}
#h-search .logo-con{
	left:-23px;
}
	/*头部search 右侧开始*/
#search-con{
	
	padding-top:38px;
	height:92px;
}
#search-con .search{
	
	border:2px solid #c40000;
}
#search-con .search input{
	width:491px;
	height:36px;
	font:16px/22px arial;
	border:none;
	outline:none;/*外轮廓*/
	vertical-align:middle;
	text-indent:5px;

}
#search-con .search button{
	height:38px;
	vertical-align:middle;
	float:left;
	width:125px;
	font-size:18px;
	font-weight:700;
	outline:none;/*外轮廓*/
	border:none;
	background:#c40000;
	cursor:pointer;
	letter-spacing:5px;
	font-family:'\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
	color:#fff;

}
	/*头部search 右侧下发导航*/
#search-con ul{
	margin-left:-16px;
	height:18px;
	font-size:14px;
	width:100%;
	padding:10px 0 0;
}
#search-con li{
	float:left;
	border-left:1px solid #ccc;
	padding:0 12px;
	line-height:1.1;
}
#search-con .nav-first{
	border:none;
}
#search-con li a{
	color:#999;
}
	/*头部search 结束*/
	/*头部导航 开始*/
#h-nav{
	background-color:#DD2727;
	min-width:1230px;
}
#nav-container{
	width:1230px;
	height:36px;
	line-height:36px;
	
}
	
#nav-main{
	width:200px;
	height:36px;
	color:#fff;
	background:#C60A0A;
}
#nav-main-con{
	top:36px;
	width:200px;
	height:500px;
	z-index:10;

}
#nav-main .nav-title{
	font-size:16px;
	font-weight:700;
	margin-left:8px;
	display:inline-block;

}

	/*头部横向导航 开始*/
#nav-main .titleIcon{
	color:#fff !important;
	margin-left:14px;
}
#nav-container .nav-top{
	width:83%;
	height:36px;
}
#nav-container .nav-top a{
	height:36px;
	float:left;
	padding:0 15px;
	font-weight:500;
	font-size:16px;
	color:#fff;
	position:relative;
}
#nav-container .nav-top img{
	width:90px;
}
#nav-container .nav-top div{
	position:absolute;
	left:0;
	width:100%;
	height:20px;
	bottom:16px;
	opacity:0;
	filter:alpha(opacity=0);
	background:url('../images/header/mxcppng.png') no-repeat center/contain;
	transition:0.5s;
}
#nav-container .nav-top a:hover div{
	bottom:30px;
	opacity:1;
	filter:alpha(opacity=100);
}
#nav-container .nav-top span,#nav-container .nav-top img{
	position:relative;

}
	/*头部纵向导航 开始*/
	/*公共样式 开始*/
	/*玫红*/
#nav-main-con li:hover .h-Ce54{color:#e54077;}
.hh-Ce54 a:hover{color:#e54077 !important;}
	/*蓝色*/
#nav-main-con li:hover .h-C427{color:#427def;}
.hh-C427 a:hover{color:#427def !important;}
	/*紫色*/
#nav-main-con li:hover .h-C634{color:#6347ed;}
	/*西瓜红*/
#nav-main-con li:hover .h-Cfa5{color:#fa5c5c;}
	/*橙色*/
#nav-main-con li:hover .h-Cf7a{color:#f7a831;}
	/*大红*/
#nav-main-con li:hover .h-Cdd2{color:#dd2727;}
	/*橙色*/
#nav-main-con li:hover .h-C3bc{color:#3bc7b0;}





	/*公共样式 结束*/
	/*头部纵向导航左侧 开始*/
#nav-main .menuLeft{
	width:200px;
	height:500px;
	background:rgba(238,238,238,.95);
	font-size:14px;
	color:#666;

}
#nav-main .menuLeft li{
	height:31.2px;
	line-height:31.2px;
}
#nav-main .menuLeft li:hover{
	background:#fff;
}
#nav-main .menuLeft a{
	color:#000;
}
#nav-main .menuLeft li:hover a{
	font-weight:700;
}
#nav-main .menuLeft i{
	margin:0 4px 0px 14px;

}	

	/*纵向二级导航 开始*/
#nav-main-con .submenu{
	width:852px;
	height:500px;
	position:absolute;
	left:200px;
	top:0px;
	background:#fff;
}
#nav-main-con .subLeft{
	height:462px;
	width:583px;
	padding:19px 30px;
	color:#666;
}
#nav-main-con .subLeft dl{ 
}
#nav-main-con .subLeft i{
	margin:0;
	color:#999;
}
#nav-main-con .subLeft dt{
	padding-top:12px;
	width:82px;
	color:#333;
	font:700 14px/34px "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
	
	
}
#nav-main-con .subLeft dd{
	width:494px;
	padding:12px 0;
	border-bottom:1px dashed #ddd;
}

#nav-main-con .subLeft a{
	margin-left:13px;
	float:left;
	height:22px;
	line-height:22px;
	font-weight:normal !important;
	color:#666;
}
#nav-main-con .subLeft .last{
	border:none;

}


	/*--三级导航右侧 img*/
#nav-main-con .subRight{
	height:480px;
	width:189px;
	padding:10px;
	background:#FAFAFA;
	
}

#nav-main-con .subRight a{
	width:73px;
	height:37px;
	float:left;
	padding:5px 10px;
	background:#fff;
	margin:0 1px 1px 0px;

}
#nav-main-con .subRight .lastImg{
	margin-top:10px;
	padding:0;
	width:187px;
	height:87px;
}


	/*头部纵向导航右侧 开始*/
#nav-main-con .menu .submenu{
	display:none;

}
#nav-main-con .menu:hover .submenu{
	display:block;

}
#nav-main .menuRight{
	margin-top:9px;
	width:100px;
	height:480px;
	left:1130px;
	background:rgba(0,0,0,.5);
	text-align:center;
	line-height:1.5;

}
#nav-main .menuRight:hover{
	background:rgba(0,0,0,.7);
}
#nav-main .menuRight .logoImg{
	width:70px;
	height:70px;
	margin:12px 15px;
	background:url('../images/header/navPic.png') no-repeat;
}
#nav-main .menuRight .login{
	width:80px;
	height:83px;
	margin:0px 10px;
	border-bottom:1px dashed rgba(0,0,0,.3);
}
#nav-main .menuRight a{
	color:#fff;
}
#nav-main .login-con{
	display:block;
	height:24px;
	margin:9px auto 6px;
	background:#DD2727;
	line-height:24px;
	border-radius:12px;

}
#nav-main .morePri{
	height:147px;
	line-height:22px;

}
#nav-main .morePri i{
	font-size:20px;
	vertical-align:middle;
	margin-right:5px;

}
#nav-main .morePri div{
	padding-top:20px;
}
#nav-main .morePri a{
	display:block;
	height:22px;
	
}
#nav-main .morePri .more-con{
	margin-top:10px;
}
#nav-main .activity{
	line-height:22px;
}
#nav-main .activity div{
	background:rgba(0,0,0,.15);
	height:24px;
	line-height:24px;
}
#nav-main .activity img{
	height:57px;
	width:57px;
	display:block;
	margin:17px auto 7px;
	border-radius:50%;
}
#nav-main .activity span{
	display:block;	

}

	/*头部banner 开始*/
#h-banner{
	min-width:1230px;
}
#bannerWrap{
	width:100%;
	height:500px;
}
#bannerWrap li{
	width:100%;
	height:500px;
	display:none;
	position:absolute;
	left:0;

}

#bannerWrap .first{
	background:rgb(205, 44, 22);
}
#bannerWrap .two{
	background:rgb(232, 232, 232);
}
#bannerWrap .three{
	background:rgb(250, 250, 250);
}
#bannerWrap .four{
	background:rgb(232, 232, 232);
}
#bannerWrap .five{
	background:rgb(33, 142, 221);
}
#bannerWrap .six{
	background:rgb(201, 110, 253);
}

#bannerWrap .listWrap{
	width:1230px;
	height:500px;
	margin:auto;
}
#bannerWrap .listCon{
	width:1120px;
	height:500px;
}
#bannerWrap .listCon div{
	width:220px;
	height:480px;
	margin-top:10px;

}
#bannerWrap .minImg img{
	width:220px;
	height:235px;
	margin-bottom:10px;
	background:rgba(255,255,255,0.6);

}
#bannerBtn{
	width:100%;
	top:450px;
}
#Btn-con{
	width:1230px;
	margin:auto;
	text-align:center;
}
#Btn-con li{
	width:20px;
	height:20px;
	display:inline-block;
	background:rgba(0,0,0,0.5);
	border:2px solid transparent;
	border-radius:50%;
	margin:0 8px;
}
#Btn-con li.show{
	border:2px solid rgba(0,0,0,0.5);
	background:rgba(255,255,255,0.5);


}
	/*--头部固定搜索框 开始--*/
#fixSearch{
	width:100%;
	min-width:1230px;
	background:#DD2727;
	top:-50px;
	z-index:1000;
	transition:0.8s;
}
#fixSearch .Search-con{
	width:1230px;
	height:50px;
	margin:auto;
}


	/*--头部固定搜索框 结束--*/
	/*头部 top结束*/

	

/*头部css结束*/